<%= stylesheet_link_tag "login" %>
<img src="<%= asset_path('supe-social-logo.png') %>" class="supe-social-logo">

<div class="login-container">

    <% if flash[:error] %>
        <p class="flash-error"><%= flash[:error] %></p>
    <% end %>

    <h3 class="login">
    <%= form_for :session, url: login_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In", :class => "login_button" %>
    <% end %>
    </h3>
    <p class="new-user">New User? <%= link_to 'Register Here', new_user_path %></p>
</div>


