<h1> Update <%= @user.username %>'s Profile here</h1>
<div class="general-container">
    <% if flash[:my_errors] %>
        <% flash[:my_errors].each do |msg| %>
            <p><%= msg %></p>
        <% end %>
    <% end %>


    <%= form_for @user do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username %><br>

        <%= f.label :password %>
        <%= f.password_field :password %><br>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %><br>

        <%= f.label :image_url %>
        <%= f.text_field :image_url %><br>

        <%= f.submit "Save Changes", :class => "edit_user_button"%>
    <% end %>
</div>