 <% @current_user.feed.each do |post| %>
 <div class="post-container">
    <div class="post-profile-image-cropper">
        <%= link_to supe_path(post.supe) do %>
            <img src="<%= post.supe.image_url %>" class="supe-post-image">
        <% end %>
    </div>
    <div class="post-header">
        <h3 class="poster-name"><%= link_to post.supe.name, supe_path(post.supe) %></h3>
        <div class="post-date">
            <em><%= post.created_at.strftime("%B %d, %Y") %></em>
        </div>
    </div>
    <p class="post-content"><%= post.content %></p>
    
    <% if post.has_media? %>
        <div class="media-container">
            <% if post.has_image? %>
                <%= image_tag(url_for(post.post_file), :class => "post-media") %>
            <% else %>
                <%= video_tag(url_for(post.post_file), size: "640x360", controls: true , :class => "post-media") %>
            <% end %>
        </div> 
    <% end %>   
    
    <div class="stats">
        <div class="likes">
            <%= post.likes%>
        </div>
        <%= link_to post_path(post), method: :patch do %>
            <img src="<%= asset_path('thumbs-up-icon.png') %>" class="like-button">
        <% end %>
        <div class="comments">
            <%= post.comments.count %>
        </div>
        <%= link_to post_path(post) do %>
            <img src="<%= asset_path('comments-icon.png') %>" class="comment-button">
        <% end %>
    </div>
</div>
<% end %>
