<h1 class="page-header"><%= @current_user.username %>'s Cart </h1>
    <% if @current_user.cart.has_items? %>
    <table class="user-cart-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit Item</th>
            <th>Price</th>
        </tr>
        <tr>
            <% @current_user.cart.products.each do |product| %>
                <% cart_product = CartProduct.find_by(cart_id: @current_user.cart.id, product_id: product.id) %>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td class="item-remove"><%= link_to "Remove", cart_product, :method => :delete %></td>
                <td>$<%= product.price %></td>
        </tr>
        <% end %>
    </table>
        <h3 class="cart-total">Cart Total | $<%= @current_user.cart.products.sum { |product| product.price }%></h3>
    <% end %>
    <h3 class="buy-merchandise"><%= link_to "Back to Shop!", products_path %></h3>