<h1 class="page-header"><%= @current_user.username %>'s Cart </h1>
    <% if @current_user.carts %>
    <table class="user-cart-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Edit Item</th>
        </tr>
        <tr>
            <% @current_user.carts.each do |cart| %>
            <td><%= cart.product.name %></td>
            <td><%= cart.product.description %></td>
            <td>$<%= cart.product.price %></td>
            <td><%= link_to "Remove", cart, :method => :delete %></td>
        </tr>
        <% end %>
    </table>
        <h3>Cart Total | $<%= @current_user.carts.sum { |cart| cart.product.price }%></h3>
    <% end %>
    <h3 class="buy-merchandise"><%= link_to "Back to Shop!", products_path %></h3>