
<h1 class="profile-page-name"><%= @user.username%>'s Profile Page </h1>
    <h2 class="user-section-titles"> Favorite Supes </h2>
            <% @user.supes.each do |supe| %>
                <div class="index-image-cropper">
                    <%= link_to supe_path(supe) do %>
                        <img src="<%= supe.image_url %>" class="supe-index-image">
                    <% end %>
                </div>
            <% end%>
    <h2 class="user-section-titles"> Upcoming Events for <%= @user.username %> </h2>
        <% if @user.events.any? %>
        <ul>
            <% @user.events.each do |event| %>
            <li class="user-page-events"><%= link_to event.title, event_path(event) %> at <%= event.date.strftime("%B %d, %Y") %> in <%= event.location %></li>
            <% end %>
        </ul>
        <% else %>
            <p><%= @user.username %> hasn't signed up for any events yet!  Go to the events page to see listed events! </p>
        <% end %>
    <h2 class="user-section-titles"> Recent Comments by <%= @user.username %></h2>
        <% if @user.comments.any? %>
            <%  @user.recent_comments.each do |comment| %>
                <div class="comment-container">
                    <div class="commenter-image-cropper">
                        <%= link_to user_path(comment.user) do %>
                            <img src="<%= comment.user.image_url %>" class="commenter-image">
                        <% end  %>
                    </div>
                    <div class="comment-content-wrapper">
                        <div class="commenter">
                            <%= link_to comment.user.username, user_path(comment.user) %></h2>
                        </div>
                        <div class="comment">
                            <p><%= comment.content %></p>
                        </div>
                        <div class="comment-date">
                            <p><em><%= comment.created_at.strftime("%B %d, %Y") %></em></p>
                        </div>
                    </div>
                </div>
                <%= button_to 'ViewPost', post_path(comment.post), method: :get, :class => "view_post_button" %></li>
            <% end %>
        <% else %>
            <p><%= @user.username %> hasn't made any commentsyet! </p>
        <% end %>
<div class="profile-footer">
    <p class="edit-profile"><%= link_to "Edit Profile",edit_user_path(@user), :method => 'get' %> </p>
    <p class='logout'> <%= link_to "Logout", logout_path,method: :delete %> </p>
<div>