<p>Customer Name: <%= @purchase.customer_name %></p>
<p>Shipping_address: <%= @purchase.shipping_address %> </p>

<p>Purchase #: <%= @purchase.uuid %></p>
<table class="user-cart-table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr>
        <% @purchase.cart.products.each do |product| %>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td>$<%= product.price %></td>
        <% end %>
    </tr>

</table>
<h3 class="cart-total">Cart Total | $<%= number_to_currency(@purchase.amount) %></h3>
        