<h1 class="page-header">Events List</h1>

<% @events.each do |event| %>
    <div class="general-container event-container">
        <div class="event-details">
            <h3><%= link_to event.title, event_path(event) %></h3>
            <p><em>Hosted by: </em><%= event.supe.name %></p>
            <p>Date: <%= event.date.strftime("%B %d, %Y at %T") %></p>
            <p>Location: <%= event.location %></p>
            <p>Cost: $<%= event.cost %></p>

            <div class="btn-holder">
                <% if !@current_user.attending?(event) %>
                        <%= form_for @user_event = UserEvent.new do |f| %>
                            <%= f.hidden_field :user_id, value: @current_user.id %>
                            <%= f.hidden_field :event_id, value: event.id %>
                            <%= f.submit "Add to your Events", :class => "btn-add-event" %>
                        <% end %>
                <% end %>
            </div>
        </div>
       
        <% if event.image_url%>
            <%= image_tag event.image_url, :class => "event-image"%>
        <% end %>
    </div>
<% end %>
