<h1 class="page-header"> Buy Stuff from your favorite Hero!</h1>
<%  sorted = Product.product_sort %>
<%  sorted.each do |product| %>
    <div class="product-card">
        <% if product.image_url%>
            <%= image_tag product.image_url, :class => "product-image"%>
        <% end %>
        <h3 class="product-name"><%= product.name %></h3>
        <p><%= product.description %></p>
        <p class="price">$ <%= product.price%></p>
        <%= form_for @cart_product = CartProduct.new do |f| %>
            <%= f.hidden_field :cart_id, value: @current_user.cart.id %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart" %>
        <% end %>
    </div>
<% end %>

<% if policy(:product).new?%>
    <p class="add-product-to-store"><%= link_to "Add New Product to Store", new_product_path, method: :get %></p>
<% end %>