<!DOCTYPE html>
<html>
    <head>
        <title>Mod2Project080320</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="banner">
            <img src="https://miro.medium.com/max/3840/1*EJjUIFJK_fEdDZTODOnCLA.jpeg" class="banner-img">
        </div>
        <div class="left-panel">
            <% if @current_user %>
                <h1 class="profile-name"><%= @current_user.username %></h1>
                <%= link_to user_path(@current_user) do %>
                    <img src="<%= @current_user.image_url %>" class="profile-img">
                <% end %>
                <ul class="user-nav">
                    <li><%= link_to "My Profile", user_path(@current_user) %></li>
                </ul>
                <% if @current_user.role == "admin" %>
                    <ul class="user-nav">
                        <!--<li><%= link_to "Create Post", new_post_path %></li> -->
                        <li><%= link_to "Create Event", new_event_path %></li>
                        <li><%= link_to "List Product", new_product_path %></li>
                    </ul>
                <% end %>
                <ul class="user-nav">
                    <li><%= link_to "Logout", logout_path, method: :delete %></li>
                </ul>
            <% end %>
        </div>
        <div class="main-panel">
            <% if @current_user %>
                <ul class="nav">
                    <li><%= link_to "Home", user_home_path%></li>
                    <li><%= link_to "The Seven", supes_path %></li>
                    <li><%= link_to "Merchandise", products_path %></li>
                    <li><%= link_to "Events", events_path %></li>
                    <li><%= link_to "My Cart", user_cart_path %></li>
                </ul>
            <% end %>
            <div class="content-wrapper">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
