<!DOCTYPE html>
<html>
    <head>
        <title>Mod2Project080320</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="banner">
            Banner here
            
        </div>
        <div class="left-panel">
            user photo here<br>
            user info here<br>
            user events here<br>
            <p><%= button_to "Logout", logout_path, method: :delete %> </p>
        </div>
        <div class="main-panel">
            <div class="nav">
                <%= link_to "The Seven" %>
                <%= link_to "Posts", posts_path %>
                <%= link_to "Merchandise" %>
                <%= link_to "Events", events_path %>
            </div>
            <%= yield %>
        </div>
    </body>
</html>
