<!DOCTYPE html>
<html>
    <head>
        <title>Mod2Project080320</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="banner">
            Banner here
            
        </div>
        <div class="left-panel">
            <% if @current_user %>
                <h1 class="profile-name"><%= @current_user.username %></h1>
                <img src="<%= @current_user.image_url %>" class="profile-img">
                <ul class="user-nav">
                    <li><%= link_to "My Profile", user_path(@current_user) %></li>
                </ul>
                <% if @current_user.role == "admin" %>
                    <ul class="user-nav">
                        <li><%= link_to "Create Post", new_post_path %></li>
                        <li><%= link_to "Create Event", new_event_path %></li>
                        <li><%= link_to "List Product", new_product_path %></li>
                    </ul>
                <% else %>
                    <ul>
                        <% @current_user.carts.each do |cart| %>
                        <li><%= cart.product.name %><%= button_to "Remove", cart, :method => :delete %></li>
                        <% end %>
                    </ul>
                <% end %>
                <ul class="user-nav">
                    <li><%= link_to "Logout", logout_path, method: :delete %></li>
                </ul>
            <% end %>
        </div>
        <div class="main-panel">
            <ul class="nav">
                <li><%= link_to "Home", user_home_path%></li>
                <li><%= link_to "The Seven", supes_path %></li>
                <li><%= link_to "Merchandise", products_path %></li>
                <li><%= link_to "Events", events_path %></li>
                <li><%= link_to "My Cart"%>
            </ul>
            <div class="content-wrapper">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
