<!DOCTYPE html>
<html>
    <head>
        <title>Mod2Project080320</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="banner">
            Banner here
            
        </div>
        <div class="left-panel">
            <% if @current_user %>
                user photo here<br><br><br>
                <h1><%= @current_user.username %></h1>
                <%= link_to "My Profile", user_path(@current_user) %><br>

                <% if @current_user.role == "admin" %>
                    <%= button_to "Create Post", new_post_path, method: :get %><br>
                    <%= button_to "Create Event", new_event_path, method: :get %><br>
                    <%= button_to "List Product", new_product_path, method: :get %><br>
                <% else %>
                    <p><%= link_to "Shopping Cart" %></p>
                    <ul>
                        <% @current_user.carts.each do |cart| %>
                        <li><%= cart.product.name %><%= button_to "Remove", cart, :method => :delete %></li>
                        <% end %>
                    </ul>
                <% end %>
                <%= button_to "Logout", logout_path, method: :delete %>
            <% end %>
        </div>
        <div class="main-panel">
            <div class="nav">
                <%= button_to "Home", user_home_path, method: :get %>
                <%= button_to "Posts", posts_path, method: :get %>
                <%= button_to "The Seven", supes_path, method: :get %>
                <%= button_to "Merchandise", products_path, method: :get %>
                <%= button_to "Events", events_path, method: :get %>
            </div>
            <div class="content-wrapper">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
