<!DOCTYPE html>
<html>
    <head>
        <title>Mod2Project080320</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="banner">
            Banner here
            
        </div>
        <div class="left-panel">
            <% if @current_user %>
                user photo here<br>
                
                <%= link_to "My Profile", user_path(@current_user) %><br>
                link to my events here<br><br><br>
                <p><%= button_to "Logout", logout_path, method: :delete %> </p>
            <% end %>
        </div>
        <div class="main-panel">
            <div class="nav">
                <%= button_to "Home", user_home_path, method: :get %>
                <%= button_to "Posts", posts_path, method: :get %>
                <%= button_to "The Seven", supes_path, method: :get %>
                <%= button_to "Merchandise", products_path, method: :get %>
                <%= button_to "Events", events_path, method: :get %>
            </div>
            <%= yield %>
        </div>
    </body>
</html>
